@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	color: white;
	font-size: 20px;
	overflow-x: hidden;
	font-family: 'Bitter', serif;
	
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images/coffee_cake.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  .row {
	display: flex;
  }
  
  .column {
	flex: 33.33%;
	padding: 5px;
  }
.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 100px;
	width: auto;
	float:left;
	margin-top: 20px;
}
.main-nav{
	float:right;
	margin-top: 60px;
}
.main-nav li{

	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;
}
.main-content-header{
	width: 1180px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	color: #fff;
	font-size: 240%;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-weight: lighter;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s,border 0.2s,color0.2;
}
.btn-full{
	background-color: transparent;
	color: #bf55ec;
	margin-right: 15px;
	border: 1px solid #bf55ec;
}
.btn-full:hover{
	background-color: #fff;

}
.btn-nav{
	background-color: transparent;
	color: #fff;
	border:1px solid #bf55ec; 
}
.btn-nav:hover{
	background-color: #bf55ec;
}
.color-change{
	animation: colormenu 1s infinte;
}
@keyframes colormenu {
	0%{color: pink;}
	25%{color: red;}
	50%{color: white;}
	100%{color:#bf55ec;}
}
